body {
  background-image: url(4e760fc2d2916d1be85a79672131335b_l.jpg);
  background-size: cover;
  text-align: center;
}

.title {
  color: white;
  padding-top: 13%;
  padding-bottom: 40px;
  font-size: 60px
}

.btn {
  display: inline-block;
  color: white;
  background-color: rgba(18,163,32,0.9);
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
}

.btn:hover {
  background-color: rgba(18,163,32,1.0);
}

.fortune {
  font-size: 35px;
  font-weight: bold;
  padding: 15px 15px;
}

.name {
  color: white;
  font-size: 50px;
}

.result h4 {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  padding: 3px 6px;
}

.result p {
  font-weight: bold;
}
